<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>URL - TinyApp Example</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div >
        <form  class="d-flex flex-column mb-3 " method="POST" action='/register' >
          <label for="register" class="text-dark h1 m-3" >Create Account </label>
          <label for="register" class="text-dark h5 m-2" >Email Address  </label>
          <input class="text-muted m-2"name= "email" type="email" style="width: 300px; border-radius: 0.3rem;border-width: 0.1rem;"/>
          <label for="register" class="text-dark h5 m-2" >Password </label>
          <input class="text-muted m-2"name= "password" type="password" style="width: 300px; border-radius: 0.3rem; border-width: 0.1rem;"/>
          <button type="submit" style = "width: 100px; border-radius: 0.3rem" class ="btn btn-primary m-1">Submit</button>
        </form>
      </div>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>